.blog-thumb {
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list-tags {
  .btn-monochrome {
    --btn-bg-color: transparents;
    --btn-border-color: #e8e1e0;
    --btn-text-color: #403b45;
    --btn-hover-bg-color: var(--btn-bg-color);
    --btn-hover-border-color: var(--bs-primary);
    --btn-hover-text-color: var(--bs-primary);
  }
}

.recent-post-img {
  --img-container-height: 125px;

  min-width: var(--img-container-height);
  max-width: var(--img-container-height);
  height: calc(var(--img-container-height) / 2);
  margin-right: 1rem;
}

.recent-post-title {
  a:not(:hover) {
    color: var(--bs-gray-800);
  }
}
