.header {
    .navbar-dark {
        background-color: rgba(#000, 0.7);
    }
    .navbar-brand {
        img {
            max-height: 32px;
        }
    }
    @include media-breakpoint-up(md) {
        .navbar-dark {
            .navbar-nav {
                .nav-link {
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: -0.5px;
                    padding: 0.5rem 1rem !important;
                    white-space: nowrap;
                    &:hover {
                        color: var(--bs-primary);
                        background-color: rgb(0 0 0 / 22%);
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        .navbar-dark {
            .navbar-nav {
                .nav-link {
                    color: #212529;
                }
            }
        }
    }
    .mobile-navbar {
        width: 100%;
        margin-right: 0;
        display: flex;
        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
        }
        img {
            max-height: 25px;
        }
        .login-btns {
             :not(.btn) {
                color: var(--bs-white);
                text-decoration: none;
                &:hover {
                    color: var(--bs-primary);
                }
            }
        }
    }
}